:root {
    font-family: "Roboto";
    font-size: 12px;
}

.container {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr auto-fit;
}

.menu-section {
    background-color: #1992D4;
    grid-row: 1/3;
}

.svg {
    filter: invert(1) sepia(0) saturate(0) hue-rotate(175deg);
}

.menu-section div:not([class]) {
    color: white;
    display: inline;
}

.menu ul {
    list-style-type: none;
    padding-left: 0px;
}

.search {
    width: 100%;
}


input {
    background-color: whitesmoke;
    width: 80%;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.header-section > * {
    display: flex;
}

.header-section > * > * {
    display: flex;
    align-items: center;
}

.header-section > * > .right {
    margin-left: auto;
}

.header-section .first-row .left {
    flex-basis: 70%;
}

.pfp {
    border-radius: 100%;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.content {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 3fr 1fr;

}

.card {
    display: grid;
    grid-template-columns: 10px 1fr;
    background-color: white;
    border-radius: 5px;
}

.orange {
    height: 100%;
    width: 10px;
    background-color: orange;
    border-radius: 5px 0px 0px 5px;
}

hr {
    border-top: 1px solid rbga(255, 255, 255, 0.3);
    margin: 10px;
}

.trending > * {
    display: flex;
    align-items: center;
}

.announcements, .trending {
    background-color: white;
}

.git-buttons {
    display: flex;
    justify-content: right;
}


